
/* ==========================
4. Team
============================= */
.bgteam{
    /* background: #222 url('../images/bgi-about.png') no-repeat center center;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.team{
    /* background-color: #222; */
}
.nav-tabs {
    border-bottom: 0;
    margin-right: 0;
}
.nav-tabs > li {
    float: right;
    margin-bottom: 0;
}
.nav-tabs > li > a {
    margin-left: -1px;
    line-height: 22px;
    font-size: 18px;
    font-style: italic;
    border: 0;
    border-radius: 0;
    text-align: center;
    color: #A9A8A6;
    font-size: 14px;
    padding: 12px 20px;
}
.nav-tabs > li a .fa{
    font-size: 30px;
}
.nav-tabs  > li > a:hover,
.nav-tabs  > li > a:focus {
    color: #553216;
    background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #553216;
    cursor: default;
    background-color: transparent;
    border: 0;
    border-bottom-color: transparent;
}
.nav-tabs > li.active > a .fa,
.nav-tabs > li.active > a:hover  .fa,
.nav-tabs > li.active > a:focus  .fa{
    color: #553216;
}
.tab-content{

}
.body-tab{
    padding: 20px 0;
}
.body-tab h3,
.body-tab h4{
    color: #553216;
}
/* team */
.box-team{
    position: relative;
    margin-bottom: 110px;
    background-color: #fff;
    border-bottom: 2px solid #f00;
}
.box-team .image{
    overflow: hidden;
    margin-bottom: 0;
}
.box-team .image img{
    max-width: 100%;
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    cursor: pointer;
    -webkit-transition: 0.1s all linear;
    transition: 0.1s all linear;
}
.box-team:hover .image img {
    -webkit-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}
.box-team .blok-title {
    color: #343434;
    padding: 10px 20px 10px 0;
    border-right: 3px solid #F7941D;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0;
}
.box-team .description{
    text-align: center;
    position: absolute;
    bottom: -75px;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #DFDAD4;
}
.box-team .social-team{
    margin: 20px 0;
    display: none;
}
.box-team:hover .description{
    border-bottom: 2px solid #553216;
}
.box-team:hover .blok-title{
    color: #F7941D;
}
.box-team:hover .social-team{
    display: block;
}
.box-team .social-team a .fa{
    color: #F7941D;
    font-size: 20px;
    padding: 5px 10px;
}
.box-team .social-team a:hover .fa{
    color: #553216;
}

.title-page{
    color: #0071BC;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
