
/* ==========================
3. Banner
============================= */
.banner{
    position: relative;
}
.section.banner{
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}
.slides-container li{
    margin: 0;
}
.banner .item img{
    margin: 0 auto;
    filter: alpha(opacity=0);
    opacity: 0;
}
.banner .item{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner .title-box h2{
    text-align: right;
    font-size: 30px;
    color: #fff;
    line-height: 42px;
}
.banner .caption {
    color:#fff;
    position:absolute;
    top:100px;
    right:20px;
    max-width:560px;
}
.banner .caption a.btn-default,
.wrap-caption a.btn-default{
    text-align: center;
    font-size: 14px;
    color: #29ABE2;
    line-height: 20px;
    font-weight: 700;
    background-color: #fff;
    padding:10px 20px;
    border:0;
}
.banner .caption a.btn-default:hover,
.wrap-caption a.btn-default:hover{
    background-color:#FBA301;
    color:#fff;
}
.banner .owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    bottom: 10%;
    width: 100%;
}

/* carousel */
.carousel-caption {
    left: 0;
    right: 0;
    text-align: right;
    top: 30%;
}
.carousel-caption .caption-heading {
    text-align: right;
    color: #fff;
    font-size: 48px;
    line-height: 68px;
    font-weight: 500;
    text-shadow: none;
    display: inline-block;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    filter: alpha(opacity=0);
}
.carousel-caption .caption-heading .color1 span{
    background-color: #F89406;
    padding: 15px 20px;
    display: inline-table;
}
.carousel-caption .caption-heading .color2 span{
    background-color: #1E824C;
    padding: 15px 20px;
    display: inline-table;
}
.caption-desc{
    margin-top: 40px;
}
.btn-banner{
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    padding: 6px 30px;
}
.btn-banner:hover{
    color: #fff;
    background-color: #2189fe;
    border-color: #2189fe;
}
.carousel-indicators .active {
    background-color: #2189FF;
}
.carousel-control{
    width: 5%;
}
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-chevron-right {
    left: 50%;
}

/* Sub banner */

.subbanner{
    background: #E9E9E9 url('../images/subbanner.jpg') no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 30px;
    text-align: center;
}
.subbanner .caption{
    margin-top: 130px;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}
.subbanner .caption a{
    color: #fff;
    text-decoration: none;
}
.subbanner .caption h3{
    font-size: 30px;
    color: #fff;
    line-height: 42px;
    font-weight: 900;
    text-transform:uppercase;
    margin-bottom: 0;
}
.subbanner .breadcrumb {
    padding: 8px 0px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    font-style: italic;
    margin-right: 0;
}
.subbanner .breadcrumb a{
    color: #fff;
}
.subbanner .breadcrumb a:hover{
    color: #F89406;
}
.subbanner .breadcrumb > .active {
    color: #fff;
}
.subbanner .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #fff;
    content: "/\00a0";
}


/* ==========================
5. Pest Control
============================= */
.pest-control{

}
.box-image{
    position: relative;
    margin-bottom: 30px;
    background-color: #fff;
    border-bottom: 2px solid #DFDAD4;
}
.box-image:hover{
    border-bottom: 2px solid #F89406;
}
.box-image .image{
    overflow: hidden;
    background-color: #F89406;
}
.box-image .image img{
    max-width: 100%;
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition: 0.1s all linear;
    transition: 0.1s all linear;
}
.box-image:hover .image img {
    opacity: .4;
    -webkit-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}
.box-image .data{
    position: absolute;
    /*top: 3%;*/
    bottom: 20%;
    left: 0;
    color: white;
    display: none;
}

.box-image:hover .data{
    display: block;
}

.box-image .blok-title {
    color: #343434;
    padding: 10px 20px 10px 0;
    border-right: 3px solid #F89406;
    margin-top: 0px;
    text-align: center;
}
.box-image:hover .blok-title a{
    color: #F89406;
}
.panel-pricing{
    border: 0;
    background-color: #E9C990;
}
.panel-pricing .panel-heading{
    padding: 25px 20px;
    font-weight: 400;
    background-color: transparent;
    border-color: #CEB17E;
}
.panel-pricing .panel-heading .title{
    display: inline-block;
}
.panel-pricing .panel-heading .price{
    font-weight: 700;
    display: inline-block;
    text-align: left;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 40px;
}
.panel-pricing .panel-body {
    padding: 20px 20px;
}
.panel-pricing .panel-footer {
    padding: 20px 20px;
    background-color: #2B2C2E;
    border-top: 1px solid #CEB17E;
}


/* ==========================
5. Stats
============================= */
.stats{

}
.bg1{
    background: #7A4D12 url('../images/bgi-1.jpg') no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg1 .lead{
    color: white;
}

.box-stat  {
    padding: 0 20px;
    border-left: 3px solid #F89406;
    margin-bottom: 30px;
    clear: both;
}
.box-stat .icon {
    display: inline-block;
    color: #F89406;
    font-size: 48px;
    float: right;
}
.box-stat .counter {
    display: inline-block;
    color: #fff;
    font-size: 45px;
}
.box-stat p {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 18px;
}



/* ==========================
5. Why
============================= */
.why{
    background-color: #fff;
}
.box-icon{
    padding: 0;
    margin-bottom: 30px;
    clear: both;
}
.box-icon:after{
    content: '';
    display: block;
    clear: both;
}
.box-icon .icon{
    display: inline-block;
    color: #343434;
    font-size: 35px;
    float: right;
}
.box-icon .box-icon-body{
    margin-right: 55px;
}
.box-icon .box-icon-body h1,
.box-icon .box-icon-body h2,
.box-icon .box-icon-body h3,
.box-icon .box-icon-body h4,
.box-icon .box-icon-body h5,
.box-icon .box-icon-body h6{
    color: #333;
}
.box-icon .counter{
    display: inline-block;
    color: #fff;
    font-size: 35px;
}


.box-image-2{
    padding: 0;
    margin-bottom: 30px;
    clear: both;
}
.box-image-2:after{
    content: '';
    display: block;
    clear: both;
}
.box-image-2 .box-image-body{
    margin: 15px 0;
}

.btn-brochure{
    background-color: #553216;
    color: #fff;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 20px 20px;
    border: 1px solid #F89406;
}
.btn-brochure .doc{
    color: #F89406;
    font-size: 20px;
    margin-left: 10px;
}
.caret-brochure {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 2px;
    vertical-align: middle;
    border-right: 5px solid #F89406;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin-right: 30px;
}
.btn-brochure:hover{
    color: #F89406;
}

/* Testimonials */
.bgi-2{
    background: #333 url('../images/bgi-2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.testimony {
    padding: 50px 0 0 0;
    position: relative;
}

.testimony .item-testimony {
    margin-bottom: 30px;
    margin-right: 0;
    text-align: right;
    margin-bottom: 100px;
}
.testimony .item-testimony .quote-box {
    padding: 15px 0;
    border: 0;
    position: relative;
    margin-bottom: 0;
    background-color: #1E824C;
}
.testimony .owl-wrapper .owl-item{
    padding-left: 15px;
    padding-right: 15px;
}
.testimony .item-testimony .quote {
    border: none;
    padding: 0;
    padding-right: 20px;
    margin-bottom: 0;
    padding: 30px;
    font-style: italic;
    color: #fff;
    min-height: 140px;
}
.testimony .item-testimony .icon{
    padding: 0 30px;
    margin-top: -40px;
    position: relative;
    z-index: 3;
}
.testimony .item-testimony .icon .fa{
    font-size: 24px;
    color: #F89406;
}
.testimony .item-testimony .people{
    background-color: #fff;
    display: inline-block;
    padding: 20px 20px;
    margin-top: -40px;
    float: left;
    min-width: 290px;
    border-bottom: 2px solid #F89406;
    height: 90px;
    font-weight: 400;
    position: relative;
    z-index: 3;
}
.testimony .item-testimony .people .user-pic {
    max-width: 60px;
    max-height: 60px;
    float: right;
}
.testimony .item-testimony  .people .user-pic,
.testimony .item-testimony  .people .user-pic *,
.testimony .item-testimony  .people .user-pic *:before,
.testimony .item-testimony  .people .user-pic *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.testimony .item-testimony  .details {
    margin-right: 80px;
    font-size: 18px;
    color: #7a4817;
    font-weight: 700;
}
.testimony .item-testimony  .details span{
    display: block;
    font-size: 15px;
    color: #666;
    font-weight: 400;
}
.testimony .item-testimony  .people .title {
    color: #553216;
    margin: 30px 0 40px 0;
    font-size: 14px;
}
.testimony .list-inline{
    padding: 40px 0;
}
.testimony .list-inline > li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}
.testimony .owl-nav{
    position: relative;
    z-index: 2
}
.testimony .owl-controls .owl-nav [class*=owl-] {
    color: #333;
    font-size: 14px;
    margin: 5px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 12px 20px;
    border-bottom: 3px solid #F89406;
}
.testimony .owl-controls .owl-nav [class*=owl-]:hover {
    background: #F89406;
    color: #fff;
    text-decoration: none;
}
.testimony .owl-nav .owl-prev,
.testimony .owl-nav .owl-next{
    position: absolute;
    top: -260px;
}
.testimony .owl-nav .owl-prev{
    right: -40px;
}
.testimony .owl-nav .owl-next{
    left: -40px;
}
#owl-testimony{
    position: relative;
    z-index: 2;
}
.owl-theme .owl-controls .owl-page span{
    background: #fff;
    filter: Alpha(Opacity=100);
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #F89406;
}

/* Client */

.stat-client{

}
.client-list{
    border-bottom: 1px solid #3C3C3C;
    padding: 40px 0;
}
.client-list.noborder{
    border-bottom: 0;
}
.client-list:after{
    clear: both;
    content: '';
    display: block;
}
.client-img{
    text-align: center;
    margin-bottom: 40px;
}
.client-img img{
    margin: 0 auto;
    filter: alpha(opacity=80);
    opacity: .8;
}
.client-img:hover img{
    opacity: 1;
    filter: alpha(opacity=100);
}

.cwhite{
    color: #fff;
}

/* ==========================
9. CTA
============================= */
.cta{
    background-color: #F89406;
}
.wrap-cta{
    position: relative;
    margin-bottom: -50px;
    padding-bottom: 70px;
}
.wrap-cta:after{
    content: '';
    clear: both;
    display: block;
}
.cta-img{
    position: absolute;
    bottom: 0;
    right: 0;
}
.cta-img img{
    display: block;
}
.cta .cta-desc{
    margin-right: 400px;
    display: inline-block;
    color: #fff;
}
.cta .cta-desc p{
    font-size: 24px;
    line-height: 30px;
    font-style: italic;
}
.cta .cta-desc h3{
    font-size: 26px;
    line-height: 34px;
}
.btn-contact{
    background-color: transparent;
    color: #fff;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-bottom: 3px solid #fff;
}
.btn-contact:hover{
    background-color: #553216;
    color: #fff;
    border: 1px solid #553216;
    border-bottom: 3px solid #553216;
}
