/* =============================================================
GENERAL STYLES
============================================================ */
/*=========================== MAIN Fonts ============================= */
@import url('https://fonts.googleapis.com/css?family=El+Messiri:400,500,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #666;
    font-family: 'El Messiri', sans-serif;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    direction: rtl;
}


/* ==========================
1. General
============================= */
.animationload {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    background-color: #fff;
}
.loader {
    position: absolute;
    top: 50%;
    right: 50%;
    margin: -100px -100px 0 0;
    width: 200px;
    height: 200px;
    background-image: url("../images/apple-touch-icon.png");
    background-position: center;
    background-repeat: no-repeat;
}
a {
    color: #343434;
    text-decoration: none;
}
a:hover {
    color: #F89406;
    text-decoration: none;
}

/* Typography */

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 14px;
    line-height: 22px;
}
h6{
    font-size: 13px;
}
strong, b{
    font-weight: 500;
}
.lead{
    font-weight: 500;
}
ol, ul {
    list-style: initial;
    margin-right: 24px;
}
ol li, ul li{
    margin: 8px 0;
}
/* Buttons */
.btn{
    font-weight: 400;
    font-size: 14px;
}
.btn-default {
    background-color: #fff;
    color: #333;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 15px 20px;
    border: 1px solid #333;
    border-bottom: 3px solid #F89406;
}
.btn-default:hover {
    background-color: #F89406;
    border-color: #F89406;
    color: #fff;
}
.btn-view-all {
    margin-top: 20px;
    margin-bottom: 20px;
}
.bg-grey{
    background-color: #E9E9E9;
}
.bg-white{
    background-color: #fff;
}
.pbot-main{
    padding-bottom:80px;
    padding-top: 60px;
}
.pbot-main:after{
    content:'';
    display:block;
    clear:both;
}
.p-main{
    padding:80px 0;
}
.pos-relative{
    position:relative;
}
.section-title{
    text-align: right;
    margin-bottom: 40px;
    padding-right: 20px;
}
.section-title .lead{
    color: #333333;
    line-height: 40px;
    position: relative;
    padding: 0 0 10px 50px;
    border-bottom: 2px solid #aaa;
    display: inline-block;
}
.section-title .lead:before{
    content: '';
    width: 80px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: -20px;
    border-bottom: 4px solid #F89406;
}
.section-title.center{
    text-align: center;
    margin-bottom: 40px;
}
.section-title.cwhite .lead{
    color: #fff;
    border-bottom: 2px solid #fff;
}
.section-title.center .lead{
    padding: 0 50px 10px 50px;
}
.section-title.center .lead:before{
    right: 35%;
}
.section-title .border-style{
    border-top: 2px solid #2189fe;
    padding-top: 8px;
}
.section-title .sublead{
    font-size: 14px;
    color: #666666;
    line-height: 20px;
}
.section-title .section-description{
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
}
.bg-grey{
    background-color: #F8F8F8;
}
.ptop-single{
    padding: 80px 0;
}
p {
    margin: 0 0 10px;
}
.color-1{
    color: #F89406;
}
.color-red{
    color: #f00;
}
.color-black{
    color: #000;
}
.font-normal{
    font-weight: normal;
}
.section.singlepage{
    padding-bottom: 60px;
}
.bg-section{
    background:url('http://rudhisasmito.com/demo/pestco/images/bg-section.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wrap404{
    margin: 80px 0
}

/* Box */
.box-wrap {
    width: 85%;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 4px #666;
    box-shadow: 0 0 4px #666;
}
.box-bg {
    background-color:#000;
}
.form-control{
    border-radius: 0px;
}
.section{
    padding: 50px 0;
}
.section:after{
    content: '';
    width: 100%;
    display: block;
    clear: both;
}
.blok{
    margin: 10px 0;
}

.bgc{
    background-color: #FAF3ED;
}
/* .box{
	width: 100%;
}
.box img{
	width: 100%;
} */

.owl-carousel{
    direction: ltr;
}

/* ==========================
2. Navbar
============================= */
.topbar{
    background-color: #1E824C;
    color: #fff;
    height: 40px;
   font-weight: 400;
    margin-right: 15px;
    margin-left: 15px;
}
.info{
    margin-top:10px;
}
.info a{
    color:#fff;
}
.info a:hover{
    color:#FBA301;
}
.info .info-item{
    display: inline-table;
    margin-left: 30px;
    font-size: 13px;
    font-weight: 400;
}
.info .info-item:last-child{
    margin-left:0;
}
.info .info-item .fa{
    margin-left:10px;
    padding-right: 10px;
}

.container-nav{
    background-color: #fff;
}
.navbar-nav{
    clear: left;
}
.navbar-main{
    border-color: transparent;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
    padding-top: 0;
}
.navbar-brand {
    margin-top: 28px;
}
.navbar-main.stiky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}
.navbar-main.stiky .container:first-child {
    display: none;
}
.navbar-main.stiky .container-nav{
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .08);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .08);
}
.navbar-main.stiky .top-sosmed{
    display: none;
}
.navbar-main.stiky .header-top{
    display: none;
}
.navbar-main .navbar-brand > img {
    width: 100%;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
}
.navbar-main.stiky .navbar-brand > img {
    width: 60%;
}
.navbar-main .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 22px;
}
.navbar-main .nav > li {
    margin: 0;
}
.navbar-main .navbar-nav > li > a {
    padding-top: 30px;
    min-height: 80px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #333;
    background-color: transparent;
    text-transform: uppercase;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
}
.navbar-main.stiky .navbar-nav > li > a {
    padding-top: 20px;
    min-height: 60px;
}
.navbar-main .navbar-nav > li > a:hover,
.navbar-main .navbar-nav > li > a:focus,
.navbar-main .navbar-nav > li > a:active{
    color: #F89406;
    background-color: transparent;
    border-bottom: 3px solid #F89406;
}
.navbar-main .navbar-nav > li.active a{
    color: #F89406;
    background-color: transparent;
    border-bottom: 3px solid #F89406;
}
.navbar-toggle .icon-bar {
    background-color: #F89406;
}
.dropdown-menu {
    border:0;
    border-bottom: 0;
    border-radius:0;
    min-width: 220px;
}
.dropdown-menu{
    background-color: #1E824C;
    padding: 0;
}
.dropdown-menu > li > a {
    padding: 8px 20px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
}
.dropdown-menu>li>a:hover {
    background-color: #F89406;
    color: #fff;
}
.request-quote{
    height: 40px;
    background-color: #F89406;
    display: block;
    padding: 8px 30px 0;
    font-size: 15px;
    margin-left: -15px;
    font-weight: 400;
}
.request-quote a{
    text-align: center;
    color: #fff;
}
.request-quote:hover {
    opacity: .9;
}


/* ==========================
10. Footer
============================= */

.footer{
    padding: 50px 0 20px 0;
}
.bgi-footer{
    background: #252525 url('../images/bgi-footer.jpg') no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.box-info{
    padding: 0 ;
    border: 1px solid #4A4B4F;
    border-bottom: 3px solid #F89406;
    margin-bottom: 30px;
}
.box-info:hover{
    background-color: #252525;
}
.box-info .box-info-icon{
    padding: 20px 30px;
    font-size: 30px;
    color: #F89406;
    display: inline-block;
    height: 100%;
}
.box-info .box-info-body{
    padding: 20px 20px 20px 0;
    border-right: 1px solid #4A4B4F;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}
.box-info .box-info-body p{
    color: #ccc;
    margin-bottom: 0;
}
.box-info .box-info-body h4{
    margin-top: 0;
    margin-bottom: 0;
}
.box-info a{
    color: #fff;
}
.box-info a:hover{
    color: #F89406;
}
.f-desc{
    color: #fff;
    padding: 50px 0;
}
.fcopy{
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}
.footer-item{
    line-height: 20px;
    color: #999999;
    font-weight: 400;
    margin-bottom: 20px;
    min-height: 250px;
}
.footer-item .list li{
    padding: 6px 0;
}
.footer-item .list a{
    color: #999;
}
.footer-item .list a:hover{
    color: #F89406;
}

.footer-logo{
    margin-bottom: 10px;
}
.footer-title{
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    position:relative;
    padding: 10px 0;
    margin-bottom: 40px;
    margin-right: 10px;
}
.footer-title span{
    color: #F89406;
}
.footer-title h5{
    margin-bottom: 10px;
}
.footer-title:before{
    position: absolute;
    content: '';
    width: 50px;
    height: 10px;
    right: -10px;
    bottom: -6px;
    border-bottom: 3px solid #F89406;
}
.footer-title:after{
    position: absolute;
    content: '';
    width: 120px;
    height: 10px;
    border-bottom: 1px solid #aaa;
}
.about-info{
    margin-top: 40px;
}
.footer-blog-item{
    padding-right:30px;
    margin-bottom: 15px;
}
.footer-blog-item:before{
    font-family: FontAwesome;
    content: "\f105";
    color:#f00;
    float:right;
    padding-right:-20px;
    margin-right: -26px;
    font-size: 16px;
}
.footer-blog-item .footer-blog-lead{
    line-height: 20px;
    color: #999999;
    font-weight: 400;
}
.footer-blog-item .footer-blog-lead a{
    color: #999999;
}
.footer-blog-item .footer-blog-lead a:hover{
    color: #fff;
}
.footer-blog-item .footer-blog-date{
    font-size: 12px;
    line-height: 17px;
    color: #f00;
    margin-top: 5px;
}
.fsosmed{
    background-color: rgba(34,34,34,.70);
    text-align: center;
    padding: 10px 0;
}
.fsos{
    color: #F89406;
    display: inline-block;
    font-weight: 400;
}
.footer-sosmed{
    margin-top: 20px;
    display: inline-block;
}
.footer-sosmed .item{
    color: #fff;
    display: inline-table;
    margin: 0 14px;
}
.footer-sosmed .item:hover{
    color: #F89406;
}
.footer-sosmed .item .fa{
    font-size: 20px;
}
/* ambil */
.widget-wrap .media{
    border-bottom:1px solid #333;
    padding-bottom:20px;
}
.widget-wrap .widget-heading{
    font-size: 18px;
    color: #5C5C5C;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    display:block;
}
.widget-wrap .widget-heading:after{
    content:'';
    width: 75px;
    height: 24px;
    background-color: transparent;
    margin-right: 1px;
    border-bottom: 1px solid #0071BC;
    display:block;
    margin-bottom:40px;
}
.widget-wrap .media-body{
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    font-weight: 500;
}
.widget-wrap .media-body .meta-comment{
    font-size: 12px;
    line-height: 18px;
    color: #5C5C5C;
    font-weight: 500;
}
.widget-wrap .media-object{
    width: 64px;
    height: 64px;
}
.widget-wrap .media-body .meta-comment .fa{
    margin-left: 10px;
}
.widget-wrap.categories .list-unstyled li .fa{
    margin-left: 10px;
}
.widget-wrap.categories .list-unstyled li{
    padding: 4px 0;
}
.widget-wrap.categories .list-unstyled li a{
    color: #333333;
    font-weight: 700;
    text-decoration:none;
}
.widget-wrap.categories .list-unstyled li a:hover{
    color: #85DBFF;
}


.sitemap{

    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.sitemap:after{
    content: '';
    clear: both;
    display: block;
    width: 100%;

}
.sitemap li:before{
    font-family: FontAwesome;
    content: "\f105";
    color:#f00;
    float:right;
    margin-left: 20px;
    font-size: 16px;
}
.sitemap li{
    padding: 6px 0;
}
.sitemap li a{
    color: #999999;
}
.sitemap li a:hover{
    color: #fff;
}
.footer-getintouch{

}
.footer-getintouch-item{
    clear:both;
    margin-bottom:10px;
    content:'';
}
.footer-getintouch-item .icon{
    font-size: 18px;
    color:#29ABE2;
    float:right;
    margin-left:10px;
    text-align:center;
    width:20px;
}
.footer-getintouch-item .icon .fa{
    font-size: 16px;
}
.footer-getintouch-item .desc{
    float:right;
    margin-bottom: 10px;
}
.footer-getintouch-item .desc .desc-1{
    width:60px;
    float:right;
}
.footer-getintouch-item .desc .desc-2{
    width:10px;
    float:right;
}
.footer-getintouch-item .desc .desc-3{
    float:right;
}
.footer-form .form-control:hover,
.footer-form .form-control:focus {
    background-color: #000;
    outline: 0;
    border: 1px solid #999;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (max-width: 1199px) {

}
@media (max-width: 992px) {
    .info .info-item {
        margin-left: 20px;
    }
    .services-item-image img{
        position:static;
    }
    .work-info-icon {
        margin: 30px 0 0 0;
        width: 100%;
        text-align: center;
    }
    .work-info-body {
        float: right;
        margin: 10px 0px 0 0;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    .navbar-main .nav > li > a {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (max-width: 768px) {
    .navbar-main.stiky .navbar-nav > li > a {
        padding-top: 15px;
        min-height: 40px;
    }
    .header-top{
        display:none;
    }
    .navbar-main .navbar-brand > img {
        width: 40%;
    }
    .navbar-main.stiky .navbar-brand > img {
        width: 40%;
    }

    .navbar-brand > img {
        display: block;
        width: 40%;
    }
    .work-info {
        position: static;
    }
    .work-info .container {
        padding-left: 0;
        padding-right: 0;
    }
    .banner,.subbanner {
        margin-top: 50px;
    }
    .banner .caption {
        position: absolute;
        top: 150px;
        right: 20px;
        left: 20px;
    }
    .work-info-item {
        width: 100%;
    }
    .navbar-main .navbar-nav > li > a {
        min-height: auto;
        padding-top: 0px;
    }

    .testimonials-item .quote-box{
        margin-right: 110px;
    }
    .about-wrap {
        margin-right: 0px;
    }
    .work-info-icon {
        margin: 30px 30px 0 0;
        width: 60px;
        text-align: right;
    }
    .work-info-body {
        float: right;
        margin: 30px 0 0 0;
        width: auto;
        text-align: right;
    }
    .nav-tabs > li {
        width: 100%;
    }
    .nav-history:after {
        background-color: transparent;
    }
    .nav-history a{
        margin: 0 10px 5px 10px;
    }
    .history-item .gambar {
        width: 100%;
        float: none;
    }
    .history-item .item-body {
        width: 100%;
        float: none;
        padding: 20px 0 20px 0;
    }
    .teams {
        float: none;
        width: 100%;
    }
    .teams-caro {
        float: none;
        width: 100%;
    }
    .teams-image {
        float: none;
        width: 100%;
    }
    .teams-description {
        float: none;
        width: 100%;
        padding: 30px 20px 0 20px;
    }
}
@media (max-width: 767px) {
    .services-item-image img{
        position:static;
    }
    .navbar-main .top-sosmed{
        display: none;
    }
    .navbar-main .container:first-child {
        display: none;
    }
    .cta-img {
        display: none;
    }
    .cta .cta-desc{
        margin-right: 0px;
    }
}
@media (max-width: 479px) {
    .carousel-caption .caption-heading {
        font-size: 24px;
        line-height: 34px;
    }
    .quotes {
        margin-top: 0;
    }
    .testimony .item-testimony .icon{
        display: none;
    }
    .testimony .owl-nav .owl-prev,
    .testimony .owl-nav .owl-next{
        position: static;
    }
    .image-wrap .meta {
        display: none;
    }
    .image-wrap .meta div{
        width:50%;
        font-size:10px;
        line-height: 10px;
    }
    .image-wrap .meta div:nth-child(2){
        display:none;
        line-height: 10px;
    }
    .image-wrap .meta .fa{
        display:none;
    }
    .media-left, .media-right, .media-body {
        display: block;
    }
    .comments-box .date {
        margin-right: 10px;
    }
    .media-body {
        width: auto;
    }
    .comments-box .media-body {
        padding-right: 0px;
    }
    .footer-sosmed .item{
        margin: 0 10px;
    }
    .footer-sosmed .item .fa {
        font-size: 16px;
    }
}
