
/* ==========================
4. Service
============================= */
.feature{
    padding: 50px 0 0 0;
}
.feature-item{

}
.feature-item .image {
    overflow: hidden;
    background-color: #F7941D;
}
.feature-item .image img{
    max-width: 100%;
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition: 0.1s all linear;
    transition: 0.1s all linear;
}
.feature-item:hover .image img {
    opacity: .4;
    -webkit-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}
.feature .blok-title{
    color: #343434;
    padding: 10px 15px 10px 0;
    border-right: 3px solid #F7941D;
    margin-top: 0px;
}
.quotes{
    background: #553216;
    color: #fff;
    padding: 40px 30px 20px 30px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    margin-top: -50px;
}
.quotes .icon{
    position: absolute;
    bottom: 0;
    right: -50px;
    bottom: -50px;
}
.quotes form{
    position: relative;
    z-index: 2;
}
.quotes .icon .fa{
    font-size: 250px;
    color: #663b16;
}
.quotes .blok-title{
    color: #fff;
    border-right: 0;
    padding-right: 0;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 30px;
}
.quotes .blok-title span{
    color: #F7941D;
    font-size: 20px;
    font-weight: 400;
}
.box-service{
    margin-bottom: 30px;
}
.box-service .blok-title {
    color: #343434;
    padding: 10px 20px 10px 0;
    border-right: 3px solid #F7941D;
    margin-top: 0px;
}
.widget .quotes{
    margin-top: 30px;
}
.category-nav{
    margin-right: 0;
    margin-bottom: 30px;
    padding: 0;
}
.category-nav li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.category-nav li a{
    color: #333;
    display: block;
    padding: 12px 10px;
    border-bottom: 1px solid #EFEFEF;
}
.category-nav li a:hover{
    color: #F7941D;
    background-color: #F8F8F8;
}
.category-nav li.active a{
    color: #F7941D;
}
.service-list{
    margin: 20px 0 20px 0;
    padding: 0;
}
.service-list li{
    list-style: none;
    margin: 12px 0;
}
.service-list li .fa{
    margin-left: 10px;
    color: #F7941D;
}
.table-pestco{
    margin: 30px 0;
}
.table-pestco > thead > tr > th,
.table-pestco > tbody > tr > td{
    padding: 12px;
}
.table-pestco > thead > tr > th{
    background-color: #553216;
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.table-pestco .tprice{
    background-color: #F7941D;
}
.table-pestco .thead{
    background-color: #F5F5F5;
}
.table-pestco .tlist{
    padding-right: 30px;
}
.table-pestco > thead > tr > th,
.table-pestco > thead > tr > td {
    border-bottom-width: 1px;
}

.title-block{
    color: #2189fe;
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0;
}
.welcome{
    color: #fff;
}
#about-caro .owl-controls {
    margin-top: -35px;
    text-align: center;
    z-index: 2;
    position: relative;
}
#about-caro.owl-theme .owl-dots .owl-dot span {
    background: #fff;
}
#about-caro.owl-theme .owl-dots .owl-dot.active span,
#about-caro.owl-theme .owl-dots .owl-dot:hover span {
    background: #F7941D;
}
.why-item{
    text-align:center;
    width:80%;
    margin:0 auto;
}
.why-item .icon{
    font-size: 30px;
    color: #fff;
    background-color: #2189fe;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding-top: 25px;
    margin: 0 auto;
}
.why-item:hover .icon{
    background-color: #fff;
    color: #2189fe;
}
.why-item .ket{
    font-size: 14px;
    color :#fff;
    margin-top: 40px;
}
.why-item .ket h4{
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
}
.why-item:hover  .ket h4{
    color: #2189fe;
}

